h1 {
    margin: 0;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 5%;
}

header {
    background-color: black; 
    height: 50px; 
    position: fixed; 
    top: 0; width: 100%; 
    z-index: 1000;
}

.header-logo {
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
}

@media (max-width: 600px) {
  header .header-logo {
    font-size: 16px;
  }
}